main {
  padding-top: 75px;
  text-align: center;
}

#homepage-image {
  max-width: 70%;
  margin: auto;
}

#homepage-container {
  width: 70vw;
}

.select-diff select {
  width: 25%;
  margin: auto;
}

.button-container {
  margin-top: 25px
}

.inplay:hover {
  opacity: 0.6;
}

.d {
  background-color: rgb(162, 209, 73);
}

.g {
  background-color: rgb(170, 215, 81);
}

.d-b {
  background-color: rgb(215, 184, 153);
}

.l-b {
  background-color: rgb(229, 194, 159);
}

.timer {
  width: 80vmin;
  margin: auto;
  color: white;
  text-align: center;
  line-height: 5vmin;
  font-size: 5vmin;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 1vmin;
  height: 8vmin;
  border-radius:15px 15px 0 0 ;
}

.timer img {
  max-height: 80%;
}

#button_group {
  width: 100%;
}

.login_button {
  width: 50%;
}

.grid {
  cursor: auto;
  width: 80vmin;
  height: 80vmin;
  margin: auto;
  border: solid;
  border-width: 30px;
  border-top-width: 0px;
  border-radius: 0 0 15px 15px;
  border-color: rgb(51, 57, 64);
}

.row div {
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.flag {
  background-image: url("flag_icon.png");
}

.bomb {
  background-image: url("explosion.png");
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: contain;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#message {
  z-index: 3;
  color: white;
  font-weight: bold;
  margin-bottom: 3%;
  padding: 3%;
  background-color: rgb(14, 16, 19);
  border-radius: 15px;
  position: fixed;
}

#message a {
  color: white;
}

form {
  width: 70%;
  margin: auto;
}

footer {
  position: fixed;
  top: 80px;
  left: 20px;
  text-align: center;
}
