main {
  padding-top: 80px;
  text-align: center;
}

#homepage-image {
  max-width: 70%;
  margin: auto;
}

#homepage-container {
  width: 70vw;
}

.button-container {
  margin-top: 25px
}

.d {
  background-color: rgb(162, 209, 73);
}

.g {
  background-color: rgb(170, 215, 81);
}

.d-b {
  background-color: rgb(215, 184, 153);
}

.l-b {
  background-color: rgb(229, 194, 159);
}

.timer {
  width: 80vmin;
  margin: auto;
  color: white;
  text-align: center;
  line-height: 5vmin;
  font-size: 5vmin;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 1vmin;
}

.grid {
  width: 80vmin;
  height: 80vmin;
  margin: auto;
  border: solid;
  border-width: 10px;
  border-color: rgb(51, 57, 64);
}

.row div {
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.flag {
  background-image: url("../static/flag_icon.png");
}

.bomb {
  background-image: url("../static/bomb.png");
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: contain;
}

form {
  width: 70%;
  margin: auto;
}

footer {
  position: fixed;
  top: 80px;
  left: 20px;
  text-align: center;
}
