{% extends 'layout.html' %}

{% block title %}Play Minesweeper{% endblock %}

{% block body %}
  <div class="timer row bg-dark">
    0
  </div>
  <div oncontextmenu="return false;" class="grid container">
    {% for i in range(d) %}
      <div class="row">
        {% for j in range(d) %}
          {% if j%2 == i%2 %}
            <div class="col-sm d" id="{{i * d + j}}"></div>
          {% else %}
            <div class="col-sm g" id="{{i * d + j}}"></div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <style media="screen">
    .row {
      height: {{100/d}}%;
    }

    .row div {
      width: {{100/d}}%;
      line-height: {{100/d}}%;
      font-size: {{80/d*0.8}}vmin;
    }

    #nav-play {
      color: rgb(255, 255, 255, .75);
    }
  </style>
  <script src="../static/game-support.js"></script>
  <script type="text/javascript">
  $(function() {
    var dimensions = {{d}};
    var grid = undefined;
    var count = 0
    var revealed = []
    var flagged = []
    $(".col-sm").click(function() {
      if (count == 0) {
        grid = getGrid(dimensions, parseInt($(this).attr("id")));
        gaps = getGaps(grid, dimensions)
        console.log(gaps);
        count ++;
        timer = 0;
        setInterval(function () {
          $(".timer").text(timer.toString());
          timer ++;
        }, 1000);
      }
      id = $(this).attr("id")
      if (!revealed.includes(id) && !flagged.includes(id)) {
        gapsArray = undefined;
        for (y = 0; y < gaps.length; y++) {
          if (gaps[y].includes(parseInt(id)) && grid[parseInt(id)] == 0) {
            for (i = 0; i < flagged.length; i++) {
              if (gaps[y].includes(parseInt(flagged[i]))) {
                $("#" + flagged[i].toString()).removeClass("flag");
                flagged.pop(i);
              }
            }
            gapsArray = y
          }
        }
        if (gapsArray != undefined) {
          for (i = 0; i < gaps[gapsArray].length; i++) {
            revealTile(gaps[gapsArray][i].toString(), grid);
            revealed.push(gaps[gapsArray][i].toString());
          }
        } else if (grid[parseInt(id)] == '*') {
          gameOver(grid, id);
        } else {
          revealTile(id, grid);
          revealed.push(id);
        }
      }
    });
    $(".col-sm").contextmenu(function() {
      id = $(this).attr("id");
      if (!revealed.includes(id)) {
        if (flagged.includes(id)) {
          flagged.pop(flagged.indexOf(id));
          $(this).removeClass("flag image");
        } else {
          flagged.push(id);
          $(this).addClass("flag image");
        }
      }

    });
  });
  </script>


{% endblock %}
